*{
    box-sizing: 0;
    padding: 0;
    background-color: #24252A;
}
li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}