.dropbtn, .dropbtn2 {
    background-color: #0c2835;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn2:hover, .dropbtn2:focus {
    background-color: #144156;
}

.dropdown-content,.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content2 a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.show {display:block;}