.form-group{
    text-align: left;
    margin: auto;
    padding: 10px;
    width: 450px;
}
.insertar{
    border: none;
    float: right;
    border-radius: 10px;
    background-color: #091921;
    box-shadow: -10px -10px 15px rgba(15, 39, 51, 1),
    10px 10px 15px rgba(12, 33, 44, 1);
    color: white;
    padding: 7px;
    width: 300px;
}
.botonAñadir{
    border: none;
    background-color: #091921;
    border-radius: 10px;
    box-shadow: -10px -10px 15px rgba(15, 39, 51, 1),
    10px 10px 15px rgba(12, 33, 44, 1);
    font-size: 30px;
    color: white;
}
input[type="file"]#imagen {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label[for="imagen"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #091921;
    box-shadow: -10px -10px 15px rgba(15, 39, 51, 1),
    10px 10px 15px rgba(12, 33, 44, 1);
    border-radius: 10px;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    margin-left: 70px;
    padding: 15px 40px !important;
    text-transform: uppercase;
    text-align: center;
}
.descripcionPisoMostrar{
    border: none;
    border-radius: 10px;
    background-color: #091921;
    color: white;
    resize: none;
}