
body{
    background-color: #091921;
}
nav{
    background-color: #ff3077;
}
.filas{
    border-radius: 10px;
}
td{
    color: white;
    padding: 7px;
    text-align: center;
}
.eliminar{
    background-color: #091921;
    box-shadow: -10px -10px 15px rgba(15, 39, 51, 1),
    10px 10px 15px rgba(12, 33, 44, 1);
    color: white;
    float: left;
}
.tablaUsuarios{
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #091921;
    margin-left: 20px;
    box-shadow: -10px -10px 15px rgba(15, 39, 51, 1),
    10px 10px 15px rgba(12, 33, 44, 1);
    margin-top: 100px;
}
.tablaBorde{
    background-color: #091921;
}
