@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
body{
    background-color: #091921;
}
.teclas{
    display:block;
    width:100%;
    height: 100%;
    font-size: 25px;
    background-color: #0c2835;
    color: white;
    border: none;
    outline: none;
}
.suma:hover, .resta:hover, .multiplicacion:hover, .division:hover, .teclas:hover{
    background-color: #144156;
}
.del{
    display:block;
    width:100%;
    height: 100%;
    font-size: 25px;
    background-color: #C5C367;
    color: #091921;
    border: none;
    outline: none;
}
.del:hover{
    background-color: #FFFDAC;
}
.suma, .resta, .multiplicacion, .division{
    width: 100%;
    height: 100%;
    display:block;
    font-size: 25px;
    background-color: #0c2835;
    color: white;
    border: none;
    outline: none;
}
.pantalla{
    background-color: white;
    font-family: 'Nanum Gothic Coding', monospace;
    color: #091921;
    height: 120px;
    text-align: right;
    padding: 10px;
}
.resultado{

    border:none;
    width:100%;
    height: 100%;
    font-size: 40px;
    color: black;
    text-align: right;
    outline: none;
    display: block;
}

.limpiar{
    display:block;
    width:100%;
    height: 100%;
    font-size: 25px;
    background-color: #ff3077;
    color: white;
    border: none;
    outline: none;
}
.igual{
    display:block;
    width:100%;
    height: 100%;
    font-size: 25px;
    background-color: #03b1ff;
    color: white;
    border: none;
    outline: none;
}
.limpiar:hover{
    background-color: #FF5992;
}
.igual:hover{
    background-color: #A5E3FF;
}
.calculadora{
    height: 450px;
    width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}
::placeholder{
    color: black;
}
